{% extends 'base.html.twig' %}

{% block title %}Recettes | Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel = "stylesheet" type = "text/css" href = "css/recipe.css">
{% endblock %}

{% block body %}
    <div class = "fav_recipe">
      <h4>Recettes favorites</h4>

      <section class = "recipe">
        <h6>Crêpes</h6>
        <ul>
          <li>Farine</li>
          <li>Sucre</li>
          <li>Lait</li>
          <li>Oeufs</li>
        </ul>
        <p>
          Mettre la farine dans une terrine et former un puits.
          Y déposer les oeufs entiers, le sucre, l'huile et le beurre.
          Mélanger délicatement avec un fouet en ajoutant au fur et à mesure le lait. La pâte ainsi obtenue doit avoir une consistance d'un liquide légèrement épais.
          Parfumer de rhum.
          Faire chauffer une poêle antiadhésive et la huiler très légèrement. Y verser une louche de pâte, la répartir dans la poêle puis attendre qu'elle soit cuite d'un côté avant de la retourner. Cuire ainsi toutes les crêpes à feu doux.
        </p>
      </section>

      <section class = "recipe">
        <h6>Gaufres</h6>
        <ul>
          <li>Farine</li>
          <li>Sucre</li>
          <li>Lait</li>
          <li>Oeufs</li>
          <li>Beurre</li>
        </ul>
        <p>
          Mettre la farine dans un saladier, y ajouter le sucre, les jaunes d'œufs et le beurre ramolli.
          Délayer peu à peu le tout en y ajoutant le lait pour qu'il n'y ait pas de grumeaux.
          Battre les blancs en neige avec une pincée de sel et les ajouter au restant en remuant délicatement.
          Cuire le tout dans un gaufrier légèrement beurré.
        </p>
      </section>
    </div>

    <div class = "recipe_frigo">
      <h4>Recettes à faire avec les ingrédients dans le réfrigérateur</h4>
      {% for d in data %}
          <li>{{ d.nom }}</li>
          <!-- Affichage des recettes -->
          <!--
            <h6>{{ d.nom }}</h6>
            <ul>
              {% for i in ingredient %}
                <li>{{ i.nom }}</li>
              {% endfor %}
            </ul>
            <p>{{ d.description }}</p>
          -->
      {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}