{% extends 'base.html.twig' %}

{% block title %}Recettes | Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel = "stylesheet" type = "text/css" href = "css/recipe.css">
{% endblock %}

{% block body %}
    <div class = "fav_recipe">
      <h4>Recettes favorites</h4>

      <h6>Recette 1</h6>
      <ul>
        <li>Farine</li>
        <li>Sucre</li>
        <li>Lait</li>
        <li>Oeufs</li>
      </ul>
      <p>
        Mettre la farine dans une terrine et former un puits.
        Y déposer les oeufs entiers, le sucre, l'huile et le beurre.
        Mélanger délicatement avec un fouet en ajoutant au fur et à mesure le lait. La pâte ainsi obtenue doit avoir une consistance d'un liquide légèrement épais.
        Parfumer de rhum.
        Faire chauffer une poêle antiadhésive et la huiler très légèrement. Y verser une louche de pâte, la répartir dans la poêle puis attendre qu'elle soit cuite d'un côté avant de la retourner. Cuire ainsi toutes les crêpes à feu doux.
      </p>
    </div>

    <div class = "recipe_frigo">
      <h4>Recettes à faire avec les ingrédients dans le réfrigérateur</h4>
      {% for d in data %}
          <li>{{ d.nom }}</li>
          <!-- Affichage des recettes -->
          <!--
            <h6>{{ d.nom }}</h6>
            <ul>
              {% for i in ingredient %}
                <li>{{ i.nom }}</li>
              {% endfor %}
            </ul>
            <p>{{ d.description }}</p>
          -->
      {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}