{% extends 'base.html.twig' %}

{% block title %}Frigo | Ingrédients{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}


{% block body %}
    <div class="ingredientsview">
    <h3>Liste des ingredients</h3>
    <table class="table">
    <tr>
    <th>Nom</th>  <th>Quantité</th>
    </tr>
    {% for d in data %}
      <tr>
      <td>{{d.nom}}</td><td>{{d.quantite}} {% if d.unite != 'u    ' %} {{d.unite}} {% endif %}</td>
      </tr>
      {% endfor %}
    </table>
    </div>

    <div class="ingredientsform">
        <h3>Ajouter un ingredient</h3>
        <form class="addingredientform" action="/ingredient" method="post">
            <label for="name">Nom de l'ingrédient</label>
            <input type="text" name="name">

            <label for="name">Quantité</label>
            <input type="number" name="quantity" min="0">
            <select class="unite" name="unite">
                {% for u in unites %}
                    <option value="{{u.unite}}">{{u.unite}}</li>
                {% endfor %}
            </select>
            <input type = "submit" value = "Ajouter l'ingrédient">
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
